<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django_projects</title>
    <link href="{% static 'images/i1.png' %}" rel="icon" sizes=16*17>
    <link rel="stylesheet" href="{% static 'css/index1.css'%}">
    <script src="{% static 'js/demo1.js'%}"></script>
</head>
<body>
    <fieldset>
        <legend>IT_Information</legend>
        <center>
            <h1 class="A">Welocome To JGC SoftWares</h1>
        </center>
    </fieldset>
    <br>
    <hr>
    <center>
        <form action="" onsubmit="return Test_case1()" method="post">
            <input type ="submit" value="LOGIN">
    </center>
    <hr>
    <hr>
    <img src="{% static 'images/i1.png' %}" height="100" widhth="200">
    <img src="{% static 'images/i1.png' %}" height="100" widhth="200">
    <hr>
    
</body>
</html>